{% extends 'main.html' %}

{% load static %}
{% load filter %}

{% block content %}

<style>
    .home-container {
        padding:60px 0 0 30px;
        display:grid;
        grid-template-columns: 1fr 4fr 1fr;
        gap: 40px;
    }

    a {
     color: black;
     text-decoration: none;
    }
</style>


<div class="home-container">
    <div>
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color:white">
                    <span class="badge rounded-pill text-bg-light">
                        <h4><a href="{% url 'home' %}">All</a></h4>
                    </span>
                </li>
            </ul>

        </div>
        {% for topic in topics %}
        <div>
            <ul class="list-group list-group-flush" >
                <li class="list-group-item" style="background-color:white">
                    <span class="badge rounded-pill text-bg-light">
                        <h4><a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></h4>
                    </span>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>

    <div>
        {% if request.user|has_group:"Stafi" %}
        <button class="btn btn-primary"><a href="{% url 'create-event' %}">Create Event</a></button>
        <br><br>
        {% endif %}
        <div class="event-list">
            <span class="badge rounded-pill text-bg-secondary"><h5>{{ event_count }} events</h5></span>
            <br><br>
            {% for event in events_page.object_list %}
            <div>
                <h2><a href="{% url 'event' event.id %}">{{event.name}} </a></h2>

                <h3>{{ event.location}}</h3>
                <h4>{{event.start_date}} </h4>

                <div class="card mb-3">
                  <img src="{{ event.image.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">{{ event.description }}</p>
                  </div>
                    <div class="input-group mb-3">
                            <input type="number" class="form-control" value="1" min="0" max="{{ event.available_seats }}">
                        </div>
                    <button type="button" class="btn btn-primary" data-purchase="y"
                            data-checkout-session-url="{% url 'checkout-session' event_id=event.id %}">Buy ticket!
                    </button>
                </div>
                 <section class="section">
                    <div>
                        <p>Seats: <b>{{ event.seats }}</b></p>
                        <p>Still Available: <b>{{ event.available_seats }}</b></p>
                    </div>
                </section>

                {% if request.user|has_group:"Stafi" %}
                <button type="button" class="btn btn-warning"><a href="{% url 'update-event' event.id %}">Edit</a></button>
                <button type="button" class="btn btn-danger"><a href="{% url 'delete-event' event.id %}">Delete</a></button>
                {% endif %}
                <br><br><br>
            </div>
            {% endfor %}

            <div>
                {% if events_page.has_previous %}
                    <a href="?page=1">&laquo First</a>
                    <a href="?page={{ events_page.previous_page_number }}">Previous</a>
                {% endif %}

                Page {{ events_page.number }} of {{ events_page.paginator.num_pages }}

                {% if events_page.has_next %}
                 <a href="?page={{ events_page.next_page_number }}">Next</a>
                 <a href="?page={{ events_page.paginator.num_pages}}">Last &raquo</a>
                {% endif %}

            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{{ block.super }}

<script>
const PAYMENTS_KEY_URL = "{% url 'payments-config' %}";

</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'events/scripts/pay.js' %}"></script>
{% endblock scripts %}

